<template>
  <form class="login-box" submit.trigger="login()">
    <h4>Login</h4>
    <div class="form-group ${email_error ? 'has-error': ''}">
      <input type="email" id="loginEmail" class="form-control"
           placeholder="Email" value.bind="email">
      <span class="text-danger">${email_error}</span>
    </div>

    <div class="form-group ${password_error ? 'has-error': ''}">
      <input type="password" id="loginPassword" class="form-control"
             placeholder="Password" value.bind="password">
      <span class="text-danger">${password_error}</span>
    </div>

    <div class="alert alert-danger" if.bind="other_error">
      <strong>
        <span class="glyphicon glyphicon-remove"></span>
        ${other_error}
      </strong>
    </div>

    <button type="submit" class="btn btn-primary">Log in</button>
    <a href="#users/register" class="pull-right">Register me</a>
  </form>
</template>
