<template>
  <form class="login-box" submit.trigger="register()">
    <h4>Register</h4>
    <div class="form-group ${first_name_error ? 'has-error': ''}">
      <input type="text" class="form-control" id="firstNameInput"
             placeholder="First name" value.bind="first_name">
      <span class="text-danger">${first_name_error}</span>
    </div>
    <div class="form-group ${last_name_error ? 'has-error': ''}">
      <input type="text" class="form-control" id="lastNameInput"
             placeholder="Last name" value.bind="last_name">
      <span class="text-danger">${last_name_error}</span>
    </div>
    <div class="form-group ${email_error ? 'has-error': ''}">
      <input type="email" class="form-control" id="emailInput"
             placeholder="Email" value.bind="email">
      <span class="text-danger">${email_error}</span>
    </div>
    <div class="form-group ${password_error ? 'has-error': ''}">
      <input type="password" class="form-control" id="passwordInput"
             placeholder="Password" value.bind="password">
      <span class="text-danger">${password_error}</span>
    </div>

    <div class="alert alert-success" if.bind="registration_successful">
      <strong>
        <span class="glyphicon glyphicon-ok"></span>
        Registration successful
      </strong>
    </div>

    <button type="submit" class="btn btn-primary">Register</button>
    <a href="#users/login" class="pull-right">Login</a>
  </form>
</template>
