<template mousedown.delegate="handle_mousedown()">
  <require from="../../styles/reservation.css"></require>
  <div class="reservation">
  </div>
  <footer class="reservation-footer"
          mousedown.delegate="handle_mousedown_on_stretch_bar()">
  </footer>
</template>
