<template>
  <require from="bootstrap/dist/css/bootstrap.css"></require>
  <require from="font-awesome/css/font-awesome.css"></require>
  <require from="../styles/styles.css"></require>

  <nav class="navbar navbar-default text-center" role=navigation>
    <a class="navbar-brand" href="#">
      <i class="fa fa-home"></i>
      <span>${router.title}</span>
    </a>
  </nav>

  <div class="page-host">
    <router-view></router-view>
  </div>

  <footer class="footer container">
    <ul class="list-inline">
      <li><a href="#about">About</a></li>
      <li><a href="#help">Help</a></li>
    </ul>
  </footer>
</template>
