<template>
  <require from="../styles/dropdown-menu.css"></require>
  <require from="../styles/calendar.css"></require>
  <require from="./components/reservation"></require>

  <require from="eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css"></require>
  <require from="eonasdan-bootstrap-datetimepicker"></require>
  <require from="./date-picker"></require>

  <div class="container bg-white"> <!-- content -->
    <div class="row text-title">
        Calendar
        <!--<div class="dropdown text">
           dropdown menu
            <button class="dropbtn">${currentRoom.name}</button>
            <div class="dropdown-content">
              <div repeat.for="room of rooms">
                <a href="#/calendar/${room.id}">${room.name}</a>
              </div>
            </div>
          </div>
          -->
    </div>
    <div class="row">
      <div class="change_date_box">
        <div class="col-xs-4 text-right" click.delegate="changeDate('left')">
          <span class="glyphicon glyphicon-chevron-left center_text_vertical" aria-hidden="true"></span> </div> <div class="col-xs-4 text-center">
          <h4 class="center_text_vertical">${firstdayString} - ${lastdayString}</h4>
        </div>
        <div class="col-xs-4 text-left" click.delegate="changeDate('right')">
          <span class="glyphicon glyphicon-chevron-right center_text_vertical" aria-hidden="true"></span>
        </div>
      </div>
      <!--- calendar content --->
      <div id="calendar-container" class="container noselect">
        <div class="calendar-row-big">
          <div class="calendar-column"></div>

          <header id="calendar-header" class="calendar-row">
            <div class="calendar-cell" repeat.for="day of daysOfTheWeek">
              ${day}
            </div>
          </header>
        </div>

        <div class="calendar-row-big" repeat.for="bigRowNumber of 24">
          <div class="calendar-column">
            ${bigRowNumber}:00
          </div>

          <div class="calendar-columns">
            <div class="calendar-row bottom-border" repeat.for="smallRowNumber of 4">
              <div class="calendar-cell" repeat.for="colNumber of 7"
                   mousedown.delegate="createReservation($event, colNumber,
                                                         bigRowNumber,
                                                         smallRowNumber)">
                <reservation class="reservation-overlay"
                             if.bind="reservations[colNumber]
                                          [4 * bigRowNumber + smallRowNumber]"
                             col-number=${colNumber}
                             big-row-number=${bigRowNumber}
                             small-row-number=${smallRowNumber}
                             reservations.bind="reservations">
                </reservation>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--- end of calendar --->
        <div class="holder">     
          <div id="popup" class="popup">    
            <div class="content">
              <div class="row centered">
            </div>        
            <div class="row">
              <h4>Add new reservation</h4>
              <form role="form">
                <div class = "row">
                  <div class="col-sm-6">
                    <input date-picker="other-min-date: datePickerTo" 
                          id="datePickerFrom" type="text" class="form-control" placeholder="From" 
                          value.bind="bookingDate">
                  </div>
                  <div class="col-sm-6">
                    <input date-picker id="datePickerTo" type="text" class="form-control" placeholder="To" 
                          value.bind="toTime">
                  </div>
                </div>
                <div class="checkbox">
                  <label><input checked.bind="isCyclic" type="checkbox" >Is cyclic?</label>
                </div>
                <div class = "row ${isCyclic ? 'visible': 'hide'}">
                  <div class="col-sm-6">
                    <input type="text" class="form-control" placeholder="Period (days)" 
                          value.bind="period">
                  </div>
                  <div class="col-sm-6">
                    <input date-picker="format: DD.MM.YYYY"
                          id="cyclicDatePickerTo" type="text" class="form-control" placeholder="To">
                  </div>
                </div>
                <div class="row centered">
                  <br>
                  <button class="btn btn-large btn-default" type="button"
                          click.delegate="add_reservation()">Add</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</template>
