<template>
  <require from="../styles/menu.css"></require>

  <div class="container"> <!-- content -->
    <div class="row text-center">
      <div class="text-title">Rooms reservation system</div>
      <div class="text-subtitle">Add new or change existing reservations</div>
    </div>
    <div class="row">
      <a id="calendar" href="#calendar" class="col-sm-4 menu-col text-center">
        <div class="circle bg-purple">
          <div class="fa fa-calendar">
          </div>
        </div>
        <div class="menu-text">Calendar</div>
      </a>
      <a id="rooms" href="#rooms" class="col-sm-4 menu-col text-center">
        <div class="circle bg-green">
          <div class="fa fa-search">
          </div>
        </div>
        <div class="menu-text">Search</div>
      </a>
      <a id="reservation" href="#reservation" class="col-sm-4 menu-col text-center">
        <div class="circle bg-blue">
          <div class="fa fa-hand-o-up">
          </div>
        </div>
        <div class="menu-text">My reservation</div>
      </a>
      <div id="calendar-text" class="text extra-text">
        Add, change or watch your reservations in the calendar view
      </div>
      <div id="rooms-text" class="text extra-text">
         Search for rooms using filters
      </div>
      <div id="reservation-text" class="text extra-text">
        Watch and change your reservations in the list view
      </div>
    </div>
  </div>
</template>
