<template>
  <require from="../styles/dropdown-menu.css"></require>
  <div class="container"> <!-- content -->
    <div class="row centered text-title">
      My reservation
    </div>
    <br>
    <div class="row">
      <div class="text-subtitle">
          Normal reservation
      </div>
      <div class="box">
        <table class="table table-fixed table-hover
        table-striped">
          <thead>
            <tr>
              <th class="col-xs-1">Id</th>
              <th class="col-xs-4">Name</th>
              <th class="col-xs-3">Start datetime</th>
              <th class="col-xs-3">End datetime</th>
              <th class="col-xs-1">Remove?</th>
            </tr>
          </thead>
          <tbody>
            <tr repeat.for="reservation of reservations">
              <td class="col-xs-1">${reservation.id}</td>
              <td class="col-xs-4">${reservation.name}</td>
              <td class="col-xs-3">${reservation.start_datetime}</td>
              <td class="col-xs-3">${reservation.end_datetime}</td>
              <td class="col-xs-1"> button to remove</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="text-subtitle">
          Cyclic reservation
      </div>
      <div class="box">
        <table class="table table-fixed table-hover
        table-striped">
          <thead>
            <tr>
              <th class="col-xs-1">Id</th>
              <th class="col-xs-1">Name</th>
              <th class="col-xs-2">Start datetime</th>
              <th class="col-xs-2">End datetime</th>
              <th class="col-xs-1">Period</th>
              <th class="col-xs-2">Start time</th>
              <th class="col-xs-2">End time</th>
              <th class="col-xs-1">Remove?</th>
            </tr>
          </thead>
          <tbody>
            <tr repeat.for="reservation of cyclicReservations" >
              <td class="col-xs-1">${reservation.id}</td>
              <td class="col-xs-1">${reservation.name}</td>
              <td class="col-xs-2">${reservation.start_date}</td>
              <td class="col-xs-2">${reservation.end_date}</td>
              <td class="col-xs-1">${reservation.period}</td>
              <td class="col-xs-2">${reservation.start_time}</td>
              <td class="col-xs-2">${reservation.end_time}</td>
              <td class="col-xs-1">button to remove</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>
