<template>
  <require from="../styles/rooms.css"></require>
  <require from="./intelligent-search"></require>
  <require from="./advanced-search"></require>

  <div class="container"> <!-- content -->
    <div class="row centered text-title">
      Rooms
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="text-subtitle">
              List of avaliable rooms
        </div>
        <div class="box">
          <div class="bg-white">  
            <table id="roomTable" class="table table-fixed table-hover
            table-striped">
              <thead>
                <tr>
                  <th class="col-xs-4">Name</th>
                  <th class="col-xs-4">Capacity</th>
                  <th class="col-xs-4">Address</th>
                </tr>
              </thead>
              <tbody>
                <tr repeat.for="room of rooms
                              | intelligentSearch:iSearchText:searchVisible
                              | advancedSearch:advSearchObj:searchVisible"
                    click.delegate="router.navigate('#/rooms/' + room.id)"
                    class="${currentRoomId == room.id ? 'active' : ''}">
                  <td class="col-xs-4">${room.name}</td>
                  <td class="col-xs-4">${room.capacity}</td>
                  <td class="col-xs-4">${room.address}</td>
                </tr>
              </tbody>
            </table>

            <a class="btn btn-default a-btn" if.bind="currentRoomId" href="#/calendar/${currentRoomId}">
              Book this room <div class="fa fa-hand-pointer-o"></div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="text-subtitle">
              <div class="fa fa-search"></div> Search Engine
        </div>
        <div class="box">
          <div class="bg-white">            
            <input type="text" class="form-control"
                  placeholder="Intelligent search" value.bind="iSearchText"
                  disabled.bind="searchVisible">
            <hr>
            <div class="${searchVisible ? 'visible': 'hide'}">
              <input type="text" class="form-control" placeholder="Name" value.bind="advName">
              <div class="row">
                <div class="col-sm-6">
                  <input type="text" class="form-control"
                        placeholder="Min capacity" value.bind="advMin">
                </div>
                <div class="col-sm-6">
                  <input type="text" class="form-control"
                        placeholder="Max capacity" value.bind="advMax">
                </div>
              </div>
              <input type="text" class="form-control" placeholder="Address"
                    value.bind="advAddress">
              <input type="text" class="form-control" placeholder="Description"
                    value.bind="advDescription">
              <div class="row centered">
                <button class="btn btn-large btn-default" type="button"
                        click.delegate="advancedSearch()">
                  Search
                </button>
              </div>
            </div>
            <div click.delegate=wrapForm()>
              ${wrapToggleContent}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="text-subtitle">
          Assets on room
        </div>
        <div class="box">
          <div class="bg-white">
            <table class="table table-fixed table-hover table-striped">
              <thead>
                <tr>
                  <th class="col-xs-4">Type</th>
                  <th class="col-xs-4">Name</th>
                  <th class="col-xs-4">Count</th>
                </tr>
              </thead>
              <tbody>
                <tr repeat.for="asset of assets">
                  <td class="col-xs-4">${asset.type}</td>
                  <td class="col-xs-4">${asset.name}</td>
                  <td class="col-xs-4">${asset.count}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="text-subtitle">
          Description:
        </div>
        <div class="box">
          <form role="form">
            <div class="form-group">
              <div class="text">
                ${description}
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
