<template>
  <require from="../styles/login-box.css"></require>

  <div class="container"> <!-- content -->
    <div class="row">
      <compose view-model="./components/${current_form}-form"
               class="col-md-4 col-md-push-8"></compose>

      <div class="col-md-8 col-md-pull-4">
        <h1>Booble.com</h1>
        <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
          venenatis malesuada feugiat. Etiam tincidunt turpis eu posuere
          imperdiet.</h4>
        <ul>
          <li>Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id,
            lorem.
          </li>
          <li>Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id,
            lorem.
          </li>
          <li>Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id,
            lorem.
          </li>
        </ul>
        <h4>Aenean gravida scelerisque magna, non hendrerit purus auctor et.
          Maecenas quis quam sed massa condimentum volutpat. Vivamus ultrices
          posuere sapien in fermentum.</h4>
        <ul>
          <li>Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id,
            lorem.
          </li>
          <li>Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id,
            lorem.
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>
