.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#calendar-container {
  display: flex;
  flex-direction: column;
  cursor: default;
}

#calendar-header {
  display: flex;
  height: 20px;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
}

#calendar-header .calendar-cell {
  border-color: transparent;
}

.calendar-row {
  display: flex;
  height: 20px;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
}

.calendar-row:nth-child(4) {
  border-bottom: 1px solid #ddd !important;
}

.calendar-column {
  display: flex;
  justify-content: flex-end;
  width: 50px;
  min-height: 100%;
  padding-right: 5px;
  box-sizing: content-box;
}

.calendar-columns {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.calendar-row-big {
  display: flex;
  width: 100%;
  justify-content: center;
  box-sizing: border-box;
}

.calendar-cell {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-right: 1px solid #ddd;
  box-sizing: content-box;
}

.calendar-cell:first-child {
  border-left: 1px solid #ddd;
}

@media (min-width: 768px) {
  .calendar-cell {
    width: 95px;
  }
}

@media (min-width: 992px) {
  .calendar-cell {
    width: 125px;
  }
}

@media (min-width: 1200px) {
  .calendar-cell {
    min-width: 135px;
    width: 135px;
    max-width: 135px;
  }
}

.reservation-overlay {
  position: relative;
  z-index: 1;
  background-color: rgba(0, 200, 81, 0.6);
  width: 100%;
  height: 19px;
}

.reservation-overlay:hover {
  cursor: pointer;
}

.center_text_vertical{
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.change_date_box{
  height: 50px;
  line-height: 35px;
  text-align: center;
}

.holder{        
    width:100%;
    display:block;
}
.popup{
  width:350px;
  height: 220px;
  border-radius: 7px;
  margin:30px auto 0;
  padding:1px;
  position:absolute;
  left: 60%;
  top: 80%;
  margin-left: -400px;
  margin-top: -40px;   
}

.content{
    background:#fff;
    padding: 28px 26px 33px 25px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
