.login-box {
  background-color: #fafafa;
  margin-top: 50px;
  box-shadow: 0 0 1px grey;
  padding: 20px 15px 20px 15px;
  border-radius: 5px;
}

.login-box > input {
  margin: 5px 0 5px 0;
}

.login-box > button {
  margin-top: 10px;
}
