.circle{
  margin-top: 70px;
  width:180px;
  height:180px;
  border-radius:50%;
  font-size:100px;
  color:#fff;
  line-height:180px;
  text-align:center;
  margin-left: auto;
  margin-right: auto;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #aaaaaa;
}

.menu-text{
  margin-top:10px;
  font-family: 'Segoe UI',Helvetica,Verdana,sans-serif;
  font-size: 18px;
  margin-bottom: 30px;
}

a{
  cursor: pointer;
  color: black;
}
a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: black;
}

a:active {
    color: black;
}


#calendar:hover ~ #calendar-text{
  visibility: visible;
}

#rooms:hover ~ #rooms-text{
  visibility: visible;
}

#reservation:hover ~ #reservation-text{
  visibility: visible;
}

.extra-text{
  visibility: hidden;
}