.reservation-overlay:hover .reservation-footer {
  background-color: #00b3ee;
}

.reservation {
  height: calc(100% - 10px);
}


.reservation-footer {
  height: 10px;
}

.reservation-footer:hover {
  cursor: ns-resize;
}
