textarea {
   resize: none;
}

.table-fixed thead {
  width: 97%;
}

.table-fixed tbody {
  height: 250px;
  overflow-y: auto;
  width: 100%;
  cursor: pointer;
}

.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}

.table-fixed tbody td, .table-fixed thead > tr > th {
  float: left;
  border-bottom-width: 0;
}

.table-fixed tr.table-row-hidden {
  display: none;
}

.table > tbody > td {
  cursor: pointer;
}

input {
  margin: 5px 0 5px 0;
}

.table > thead > tr {
  background-color: #455A64;
}