html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #F0F0F0;
}

h1, h2, h3, h4, h5, h6{
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300; !important
  font-style: normal;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #FAFAFA;
}

.bg-pink {
  background-color: #EA1E63;
}

.bg-green {
  background-color: #33B799;
}

.bg-blue {
  background-color: #0DADEA;
}

.bg-purple {
  background-color: #965994;
}

.bg-white {
  background-color: #FFFFFF;
}

.bg-orange{
  background-color: #EB3C00;
}

.centered{
    text-align:center;
}

.hide{
  visibility: hidden;
}

.visible{
  visibility: visible;
}

.content-block, .content-header{
  padding: 4px 10px 4px 10px;
}

.content-header{
  background-color: #607D8B;
  color: #FFFFFF;
}

.a-btn{
  margin-left: 10px;
  margin-bottom: 10px;
}

.a-btn:hover{
  background-color: #CFD8DC; !important
  color: white; !important
  margin-left: 10px;
  margin-bottom: 10px;
}

@media (min-width: 1250px) {
  .container {
    width: 1050px;
  }
}

.text-title{
  font-family: 'Segoe UI Light','Segoe UI','Helvetica Neue Light','Helvetica Neue',Helvetica,Verdana,sans-serif;
  font-weight: 200;
  text-align: center;
  padding-top: 20px;
  font-size: 60px;
}

.text-subtitle{
  font-family: 'Segoe UI Light','Segoe UI','Helvetica Neue Light','Helvetica Neue',Helvetica,Verdana,sans-serif;
  font-weight: 200;
  font-size: 30px;
  text-align: center;
}

.text{
  font-family: 'Segoe UI','Helvetica Neue',Helvetica,Verdana,sans-serif;
  font-weight: 400;
  text-align: center;
  color: #666!important;
  font-size: 16px;
}

table > thead > tr > th {
    margin-top: 20px;
    font-weight: 400;
    vertical-align: bottom;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    text-align: left;
    font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
    font-style: normal;
}

table > tbody > tr > td{
    font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: 0.01rem;
    color: #212121;
    text-align: left;
    -webkit-font-smoothing: antialiased;
}

.box
{
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    background-color: white;
    min-height: 150px;
}